.markdown {
    @apply text-lg leading-relaxed;
  }
  
  .markdown p,
  .markdown ul,
  .markdown ol,
  .markdown blockquote {
    @apply my-6;
  }

  .markdown pre {
    @apply overflow-auto text-sm;
  }
  
  .markdown h2 {
    @apply text-2xl font-bold mt-12 mb-4 leading-snug;
  }
  
  .markdown h3 {
    @apply text-xl font-bold mt-8 mb-4 leading-snug;
  }

  .markdown ul {
    @apply border-2 border-solid border-soft-blue p-4 rounded bg-[#d3f3fd];
  }

  .markdown li {
    @apply list-disc m-4
  }

  .markdown a {
    @apply underline
  }

  .markdown p > code {
    @apply text-soft-blue bg-blue-100 p-2 rounded
  }